name: Android Release Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Install Fyne Toolkit
        run: go install fyne.io/tools/cmd/fyne@latest

      - name: Build Clean Release APK
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          export CGO_ENABLED=1
          fyne package -os android -id com.nanklis.rkn.sim -icon icon.png -app-version 1.0.4 -app-build 5 -release -tags release

      - name: Upload Finished APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: "*.apk"
